@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 57% 22%;
    --foreground: 210 40% 98%;
    --card: 224 48% 31%;
    --card-foreground: 210 40% 98%;
    --popover: 224 48% 25%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 70% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 224 48% 40%;
    --secondary-foreground: 210 40% 98%;
    --muted: 224 48% 40%;
    --muted-foreground: 224 40% 60%;
    --accent: 0 0% 83%;
    --accent-foreground: 224 57% 22%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 83%;
    --input: 224 48% 40%;
    --ring: 207 70% 53%;
    --radius: 0.5rem;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
